

.jumbotron {
  background-image: url("../img/desk.jpeg");
  background-size: 100%;
  margin-bottom: 0;

}

.jumbotron h1{
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  border: 2px solid white;
  width: 50%;
  text-align: center;
  color: white;
  margin-left: 25%;
}

h2{
  font-family: 'Questrial', sans-serif;
  color: #778899;
}

h3{
  color: #778899;
}
#blog-post {
  margin-left: 2%;
}


.img-circle{
  width: 150px;
  height: 150px;
}

#about-me-container{
  margin-top: 2em;
  text-align: center;
}

.biography{
  text-align: left;
}

.col-md-4{
  margin-top: 3em;
  color: #778899;
}

.nav-pills {
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;

}

.lead {
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
}

.contact-footer {
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  padding-right: 1em;
  display: block;
  text-align: center;
}

.links-footer{
  padding-left: 1em;

}
